# dependencias
/node_modules

# next
/.next/
/out/

# env
.env
.env.local
.env.production
.env.exemplo

# outros
.DS_Store
*.pem
npm-debug.log*

.vercel

# anotacoes pessoais (nao sobe pro github)
/docs/
NOTAS.md
